button {
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  margin-right: 10px;
  width: 76px;
  cursor: pointer;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 5%;
  background-color: #38bdf8;
  border: 1px solid #38bdf8;
}

button.small {
  height: 24px;
}

button.medium {
  height: 32px;
}

button.large {
  height: 40px;
}

button.plain {
  color: #999;
  background-color: #fff;
  border: 1px solid #ddd;
}