.message-box-tran-leave-to,
.message-box-tran-enter-from {
  opacity: 0;
}

.message-box-tran-enter-active {
  transition: opacity .2s ease-in;
}

.message-box-tran-leave-active {
  transition: opacity .2s ease-out;
}

.message-box-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.message-box-container .message-box-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 420px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 3px;
}

.message-box-title {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px 5px;
}

.message-box-title span {
  height: 100%;
  font-size: 20px;
}

.message-box-title i {
  float: right;
  color: #999;
  cursor: pointer;
}

.message-box-wrapper .content {
  margin: 20px 20px;
}

.messagebox-input {
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  height: 32px;
  border: 1px solid #ddd;
}